.dokmen-collection{
  margin: 50px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.collection-txt{
  text-align: center;
  text-transform:uppercase;
  font-size: 40px;
  letter-spacing: 2px;
}

.dokmen-collection .product-container{
  position: static;
  display: grid ;
  grid-template-columns: auto auto auto !important;
  margin: 50px 5%  ;
  gap: 20px;
  overflow: hidden;
  width: 90%;
}





.dokmen-collection hr{
  margin: 60px 0px;
  height: 1.5px;
}

.product-btn{
  text-align: center;

}

.product-btn button{
  width: 300px;
  border-radius: 4px;
  border: none;
  padding: 10px;
  background-color:#032044;
  color: white;
  text-transform: uppercase;
  /* margin-top:10px ; */
}

@media screen and (max-width:1000px) {
  .dokmen-collection .product-container{
    display: grid !important;
    grid-template-columns: auto auto !important;
  gap: 10px;
  width: 90%;

  }
}
  
  
  @media screen and (max-width:800px) {
    


   
    .collection-txt{
      font-size: 20px;
    }
  
    
    .product-btn button{
      width: 200px !important;
      font-size: 12px;
  }
    .container{
      margin: 30px auto !important;
    }
    
  }
  

  @media screen and (max-width:700px) {
    .dokmen-collection .product-container{
      width: 100%;
    }
  }
  