@font-face {
  font-family: 'ARB';
  src: url("C:\Users\Sagar\github clone\https---github.com-weebySagar-dokmenNew\Project\public\Fonts\ARB 66 Neon Line JUN-37.ttf");
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;}

.navbar {
  display: flex;
  background-color: #f8f9fa;
  justify-content: space-between;
  padding: 10px 30px 0;
  align-items: flex-end;
  height: 80px;
}
.navbar .toggle-btn {
  display: none;
  cursor: pointer;
}
.navbar .nav-menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;

}
.navbar .nav-menu ul li{
    position: relative;
/* display: block; */
padding-bottom: 10px;
}
.navbar .nav-menu ul li a {
  font-size: 18px;
  text-decoration: none;
  color: gray;
  display: block;
  transition: all 0.1s ease-in-out;
}
 
.navbar .nav-menu ul li a:hover {
  color: black;
}

.navbar .nav-menu ul li ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  width: 200px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  display: none;
  transition: all 0.3s ease-in-out;
  z-index: 1;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
top: 35px !important;
}

.navbar .nav-menu ul li:hover > ul {
 
  display: block;
}

.navbar .nav-menu ul li ul li a {
  font-size: 14px;
  padding:  12px 18px ;
  display: block;
}

.navbar .nav-menu ul li ul li:first-child{
  border-top: 2px solid #3f3f42;

}

.navbar .nav-menu ul li ul li:hover > a{
  background-color: #032044;
  opacity: .8;
  color: white;
}



.navbar .logo img {
  height: 40px;
}
.navbar .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
text-align: center;
top: 8px;
}
.navbar .logo span{
font-family: 'ARB';
font-size: 20px;
color: #289e4f;
}
.nav-menu.right{
  display: flex;
}
.nav-menu.right .menu-items-img{
  margin-right: 4px;
font-size: 24px;
}

.navbar .login-btn{
  background-color: #032044;
  padding: 6px 8px;
  border-radius: 6px;
  color: white;
  position: fixed;
  right: 230px;
  top: 50px;
  outline: none;
  font-size: 16px;
  border: none;
  width: 100px;
}

.navbar .login-btn:hover{
  background-color: white;
  color: #032044;
  font-weight: bold;
border: 2px solid #032044;
}
.nav-menu.right button{
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: gray;
}
.nav-menu.right button:hover{
  color: black;
}
.search{
  background-color: white;
  height: 60px;
  padding: 10px 5px;
  margin: 4px 4px;
  border-radius: 6px;
  opacity: .95;
  transition: all 350ms ease-in-out;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.search .search-form{
  display: block !important;
  height: 100%;
  padding: 0 10px;
}

.search .search-form input{
  width: 100%;
  height: 100%;
  border: none;
  font-size: 16px;
}
.search .search-form input:focus{
  outline: 0;
}
.toggle-btn{
  font-size: 36px;
}

#togglerTrigger{
    display: none;
}

@media screen and (max-width: 1250px) {
  .navbar .toggle-btn {
    display: block;
  }

  .navbar .toggle-btn i {
    font-size: 30px;
  }

  .navbar .nav-menu.left {
    position: fixed;
    top: 108px;
    left: 0;
    background-color: #f8f9fa;
    height: 100%;
    width: 25%;
    transform: translateX(-150%);
    transition: all 0.3s ease-in-out;
    opacity: .95;
    z-index: 1 !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
  .navbar .nav-menu.left ul {
    flex-direction: column;
    align-items: left;
  }
  .navbar .nav-menu.left ul li{
    padding-left: 2px;
      margin: 0 !important;
      align-items: center;
  }

  .navbar .nav-menu.left ul li:hover > a {
    border-left: 6px solid #032044;
    color: black ;
    border-radius: 2px;

  }

  .navbar .nav-menu.left ul li ul li:hover > a {
    background-color: transparent;
    color: black;
    border: none;
    font-weight: bold;
  }
  
  

  

  .navbar .nav-menu.left ul li a{
      display: block;
      padding-left: 26px;
      
  }

  .navbar .nav-menu.left ul ul{
      position: static;
      pointer-events:auto;
      background-color: transparent;
      box-shadow: none;
    height: 0;
    overflow: hidden;
    margin: 0 !important;
    border-radius: 0;
    width: 100%;
    background-color: rgb(214, 212, 212);
  }

  .navbar .nav-menu.left ul ul li {
   padding-left: 30px;
      border-top: none !important;
  }

  .navbar .nav-menu.left ul ul li a{
    color: rgb(48, 47, 47);
  }
 

 
  .navbar .nav-menu.left ul li:hover > ul {
      height: auto !important;
  }
  #togglerTrigger:checked +  .nav-menu.left {
      transform: translateX(0%);
  }

  .navbar .login-btn{
    display: none;
  }
  .navbar .nav-menu.left ul li .login-btn.menu{
    display: block;
    position: static !important;
    background-color: #032044;
    color: black;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 20px;
    padding:0 0 0 15px;
    text-transform: uppercase;
    font-weight: 500;
    height: 30px;
    width: 70%;
    color: white;
    font-size: 14px;
  }
}
@media screen and (max-width:1000px) {
  
  
}

@media screen and (max-width:700px) {
  .nav-menu.right ul li .icon-title{
display: none;
  }
  .navbar .nav-menu.left{
    width: 40% !important;
  }
  
}

@media screen and (max-width:500px) {

  .navbar{
    padding: 10px 20px;
  }

  
  .nav-menu.right ul{
    display: flex ;
    flex-direction: column ;
    
    margin: 0;
    padding: 0;
    gap: 0;
  }
  .navbar .logo img {
    height: 30px;
  }
  .navbar .logo span{
    
    font-size: 18px;
   
    }
    .navbar .logo{
      font-size: 12px;
    }
    .navbar .nav-menu.left{
      width: 50% !important;
    }
    .search{
      height: 50px;
    }
    .position-absolute{
      height: 20px;
      width: 20px;
      padding: 3px;
    }
}

@media screen and (max-width:400px) {
  .navbar .logo span{
    
    font-size: 16px;
   
    }
    .navbar .logo{
      margin-top: 10px;
     
      font-size: 11px;
    }
    .navbar .nav-menu.left{
      width: 60% !important ;
    }
}