.product-items{
  transition: all 0.3s ease-in-out;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  height: 380px;
  width: 350px;
  display: flex;
  flex-direction: column;
}
.product-items:hover{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product-items .container-items{
  height: 70% !important;
}

.product-items .container-items img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  background-position: center !important;
}

.items-details {
  display: block;
  padding: 10px;
  font-size: 20px;
  background-color: whitesmoke;
  align-items: center ;
  height: 20%;
}
.items-details p {
  margin: 0;
}
.items-details span {
  font-weight: 600;
}


.cart-btn{
  height: 10%;
}
.cart-btn button {
  background: gray;
  width: 100% !important;
  border: none;
  height: 40px;
  color: white;
  border-radius: 6px;
}

@media screen and (max-width:1200px) {
  .product-items{
    height: 400px;
    width: auto;
  }
}
@media screen and (max-width: 700px) {
  .product-items .container-items {
    height: 350px;
  }
  .items-details{
    font-size: 18px;
    display: block;
    padding:0 0 10px 10px ;

  }
}

@media screen and (max-width: 550px) {
  .product-items .container-items {
    height: 320px;
  }

  .items-details{
    font-size: 16px;
  }

  .cart-btn button{
    height: 34px;
    font-size: 14px;
  }
}

@media screen and (max-width:450px) {

  .product-items .container-items {
    height: 250px;
  }
  .items-details{
    font-size: 16px;
    display: block;
    padding:4px 0 0 10px ;
  }
  .cart-btn{
    margin-top: 18px;
  }

  .product-items .container-items img{
object-fit:fill;

  }
}


